  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
          <a class="navbar-brand">
            <img src="/assets/images/home-icon.png" alt="logo" class="img-responsive"  style="max-height: 45px;">
          </a>
          <a class="navbar-brand">Covid19-GO</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <div class="d-flex">
          <button type="" class="btn btn-outline-success me-2" routerLink="/login">Sign in</button>
          <button type="" class="btn btn-outline-info" routerLink="/register">Sign up</button>
        </div>
      </div>
    </div>
  </nav>
